@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Readex+Pro:wght@400;700&display=swap');

:root {
    --primary-color: #00BFA6;
    --grey: #b3b3cc;
    --off-white:#ececf9;
    --purp: #2a2a89;
    --background:#0bb89d;

    font-family: 'Aboreto', cursive;
    


}



body {
    
    margin: 0px;
    font-weight: bolder;
    font-style: italic;
   
}

.text{
    color: var(--purp);
    font-size: 1.1rem;
    height: 10vh;
  text-align: center;
    

}

.head1 {
    text-align: center;
}

hr {
    margin: 2rem 0rem;

}

/**container **/
.container {
    padding-left: 2rem;
    padding-right: 2rem;
}


.container-center {
    max-width: 470px;
    margin: auto;
    padding: 2rem;
    
}

/* links */
.link {
    text-decoration: None;
    padding: 0.5rem 1rem;
    


}

.link:hover{
    color: #892a74;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--off-white);
    border-radius: 0.5rem;
    border: 1px solid var(--off-white);
}

.third-link{
    color: var(--purp);
    border: 1px solid var(--purp);
    border-radius: 0.5rem;
}
/* lists */

.list-non-bullet {
    list-style: None;
}

li {
    list-style: None;
}


.list-item-inline {
    display: inline;
    padding: 1rem 0.5rem;

}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    


}

.navigation .nav-pills { 
    text-align: right;
}

.navigation .link {
    color: white;
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
    color: #892a74;
}

/* header */

.hero {
    padding: 4rem;

}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;

}

.hero .hero-heading {
    color: var(--grey);
    padding-top: 1rem;
    text-align: center;
}


.hero .heading-inverted {
    color: var(--primary-color)
}

/* sections */

.section{
    
    padding: 20px;
}
 .section h1 { 
         text-align: center;
}

.section p{
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

.section div
{text-align: center;}

/* footer */

.footer{
    background-color: var(--primary-color);
    padding: 1.5rem;
    text-align: center;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: 50px;
}
.footer .footer-header{
    color:var(--off-white);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #892a74;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
    margin-bottom: 70px;
    
}
.footer ul{
    padding-inline-start: 0px;
}

#box-model {
    display: flex;
    
    justify-content: space-evenly;
    margin:15px;
}

#innerbox {
    border: solid 1px grey;
    margin: 1px;
    width: 20%;
    border-radius: 10px;
    background-color: #dcdcfa;
    
}

h1 {
    font-size: 1.5rem;
    color: #892a74;
    height: 8vh;
}

