@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Readex+Pro:wght@400;700&display=swap');

:root{
    --theme-color:#091d91;
}

body {
    font-family: 'Aboreto', sans-serif;
    margin: 0px;
    background-color: var(--theme-color);
    padding-bottom: 100px;
    
}
.text{
    color:whitesmoke;
    text-align: center;
}


.heading{
    text-align: center;
    font-weight: bold;
}

.hero{
    padding: 2rem;
    
   
}

.hero .hero-img{
    max-width: 700px;
    display: block;
    margin: auto;
}

 .container{
    padding: 2rem 2rem;
 >

}

.container-center {
    max-width: 700px;
    text-align: center;
    padding: 2rem;
    margin:auto

}

