@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Readex+Pro:wght@400;700&display=swap');

:root{
    --theme-color:#091d91;
}

body {
    font-family: 'Aboreto', sans-serif;
    margin: 0px;
    background-color: var(--theme-color);
    padding-bottom: 100px;
    
}


.text{
    color:whitesmoke;
    text-align: center;
}
.text2{
    color:whitesmoke;
    text-align: center;
    margin: 0px;
    background-color: var(--theme-color);
    padding-bottom: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 2.3rem;
    color: rgb(0, 40, 56);
    background-color: #004730;
    font-weight: bold;
}

.heading{
    text-align: center;
    font-weight: bold;
}


.heading3{
    text-align: center;
    font-weight: bold;
    color: rgb(98, 144, 161);
    font-size: 4rem;
    
    margin-top: none;
    
}


.hero{
    padding: 2rem;
    
   
}

.hero .hero-img{
    max-width: 700px;
    display: block;
    margin: auto;
}

 .container{
    padding: 2rem 2rem;
 
}

.container-center {
    max-width: 700px;
    text-align: center;
    padding: 2rem;
    margin:auto

}

.beach-box {
    max-width: 70%;
    justify-content: space-between;
    text-align: center;
    padding: 1.4rem;
    margin:auto;
    border:double rgb(75, 180, 14) 10px;
    background-color: rgb(122, 161, 124);
    border-radius: 40px;
    font-size: 1.5rem;
}

.listitems {

    list-style:none;
    text-decoration: none;
}

#para-text {
    font-size: 3rem;
    color: aliceblue;
}

.heading2{
    text-align: center;
    font-weight: bold;
    color: rgb(41, 212, 84);
    font-size: 10rem;
    
    margin: 20px;
    padding: none;
    
}